<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #51e60c;">
    <div class="container">
        <a href="#" class="navbar-brand fw-bold text-white">QuizCloud</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                {% if user.status == 'student' %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'user_quizzes' %}" class="nav-item nav-link active text-white">
                        Quizzes
                    </a>
                    <a href="{% url 'view_take_later' %}" class="nav-item nav-link text-white">
                        Take Later Quizzes
                    </a>
                    <a href="{% url 'completed_quizzes' %}" class="nav-item nav-link text-white">
                        Taken Quizzes
                    </a>
                    <a href="{% url 'subjects' user.username %}" class="nav-item nav-link text-white">
                        My Subjects
                    </a>
                    {% endif %}
                {% elif user.status == 'teacher' %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'create_quiz' %}" class="nav-item nav-link active text-white">
                        Create Quiz
                    </a>
                    <a href="{% url 'created_quiz' %}" class="nav-item nav-link text-white">
                        My Quizzes
                    </a>
                    <a href="{% url 'attempted_quizzes' %}" class="nav-item nav-link text-white">
                        My Attempted Quizzes
                    </a>
                    <a href="{% url 'other_quizzes' %}" class="nav-item nav-link text-white">
                        Other Quizzes
                    </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="nav-item nav-link text-white">
                    Logout <i class="bi bi-box-arrow-right"></i>
                </a>
                <a href="{% url 'profile' user.username %}" class="nav-item nav-link text-white">
                    Hi {{ user.username }} <i class="bi bi-person-circle"></i>
                </a>
                {% else %}
                <a href="{% url 'login' %}" class="nav-item nav-link text-white">
                    Login <i class="bi bi-box-arrow-left"></i>
                </a>
                <a href="{% url 'register' %}" class="nav-item nav-link text-white">
                    Signup <i class="bi bi-door-open"></i>
                </a>
                {% endif %}
                <!-- <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> -->
            </div>
        </div>
    </div>
</nav>