{% extends 'quiz/header.html' %}
{% block content %}
    <h2>Quiz is: {{ quiz.title }}</h2>
    <div id="question-form">
        <ol>
            {% for question in questions %}
            <li>
                
                {{ question.text}} : marks = {{ question.marks}}
                
            </li>
            {% endfor %}
        </ol>
        
    </div>
    <button hx-get="{% url 'question_form' %}" hx-swap="beforeend" hx-target="#question-form">
        Add Question
    </button>
    
{% endblock %}