<form hx-post="{% url 'create-question' quiz_id %}">

<h1>Add Questions to {{ quiz.title }}</h1>
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <div class="question">
            {{ form.as_p }}
            <!-- You'll need to handle options dynamically with JavaScript or modify this approach -->
        </div>
    {% endfor %}
    <button type="submit">Save Questions</button>
</form>

<div id="question-forms">
    {% include 'partials/question_form.html' %}
</div>
<div class="my-4">
    <button type="button" class="btn btn-success me-2"
    hx-get="{% url 'add_question' quiz.id  %}"
    hx-target="#question-forms"
    hx-swap="beforeend"> Add Question</button>
</div>