{% block content %}
    <h2>Question: {{ question.text }}</h2>
    <div id="option-form">
        <ol>
            {% for option in options %}
            <li>
                
                {{ option.text }} : Answer-{{ option.is_correct }}
                
            </li>
            {% endfor %}
        </ol>
    </div>
    <button hx-get="{% url 'option_form' %}" hx-swap="beforeend" hx-target="#option-form">
        Add Option
    </button>
{% endblock %}

<div id="ofm" hx-target="this" hx-swap="outerHTML">
    <form method="post" hx-post="{% url 'add_option' question.id %}">
        {% csrf_token %}
        <div class="class row">
            <div class="class col-4 col-md-3">
                <label for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
                {{ form.text }}
            </div>
            <div class="class col-4 col-md-3 align-self-end">
                <label for="{{ form.is_correct.id_for_label }}">{{ form.is_correct.label}}</label>
                {{ form.is_correct }}
            </div>
            <div class="class col-3 align-self-end">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>