{% extends 'quiz/header.html' %}
{% block title %}Add Options{% endblock %}
{% block content %}
<div class="class container">
    <h2>{{ question.text }}</h2>
    <button hx-get="{% url 'option_form' %}" hx-swap="afterbegin" hx-target="#option-form" class="btn btn-success btn-sm">
        Add Option
    </button>
    <div id="option-form">
        {% for option in options %}
        <div>
            {% include 'partials/option_detail.html' %}
        </div>
        {% endfor %}       
    </div>
    <a href="{% url 'add_question' question.quiz.id %}" class="btn btn-primary btn-sm">
        Finish
    </a>
</div>   
{% endblock %}