{% extends 'quiz/header.html' %}
{% block title %}Questions{% endblock %}
{% block content %}
<div class="d-flex justify-content-center min-vh-100">
    <div class="col-sm-12 col-md-8 col-lg-8">
        <h2>{{ quiz.title }}</h2>
        <div class="mb-3">
            {% if request.user == quiz.created_by %}
                <button hx-get="{% url 'question_form' %}" hx-swap="afterbegin" hx-target="#question-form" class="btn btn-primary btn-sm">
                    Add Question
                </button>
                <a href="{% url 'test_quiz' quiz.id %}" class="btn btn-primary btn-sm">Test Quiz</a>
                <a href="{% url 'created_quiz' %}" class="btn btn-success btn-sm text-sm btn-fixed-size">Quizzes</a>
            {% else %}
                <a href="{% url 'other_quizzes' %}" class="btn btn-success btn-sm text-sm btn-fixed-size">Quizzes</a>
            {% endif %}
        </div>
        <div>
            <h6>
            Total Questions: {{ total_questions }}
            Total Marks: {{ total_marks }}
            </h6>
        </div>
        <div id="question-form">
            <ol>
                {% for question in questions %}
                    <div>
                        <li>{% include 'partials/question_detail.html' %}</li>
                        {% for option in question.options.all %}
                            {% include 'partials/option_detail.html' %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </ol>       
        </div>
        {% if questions %}
            {% if request.user == quiz.created_by %}
                <div id="quiz-{{ quiz.id }}">
                    <button hx-post="{% url 'toggle_published' quiz.id %}"
                            hx-target="#quiz-{{ quiz.id }}"
                            hx-swap="outerHTML"
                            class="toggle-published btn-pub">
                        {% if quiz.published %}
                        Unpublish
                        {% else %}
                        Publish
                        {% endif %}
                    </button>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>   
{% endblock %}