{% extends 'quiz/header.html' %}
{% block content %}
    <h2>Question is: {{ question.text }}</h2>
    <button hx-get="{% url 'option_form' %}" hx-swap="afterbegin" hx-target="#option-form" class="btn btn-success">
        Add Option
    </button>
    <div id="option-form">
        {% for option in options %}
        <div>
            <ul>
                <li>{{ option.text }}{% if option.is_correct %} (Correct){% endif %}</li>
            </ul>
        </div>
        {% endfor %}
        
    </div>
    <!-- <button
        hx-get="{% url 'add_question' question.id %}"
        hx-trigger="click">
        Add Question
    </button> -->
    <a href="{% url 'add_question' question.quiz.id %}" class="btn btn-primary">
        Finish
    </a>
    <!-- <button hx-get="{% url 'question_form' %}" hx-trigger="click" hx-target="{% url 'add_question' question.quiz.id %}">
        Add Question
    </button> -->
    
{% endblock %}
<!-- hx-get="{% url 'add_question' question.id %}" -->
<!-- hx-trigger="click" -->