{% extends 'quiz/header.html' %}
{% block title %}Add Options{% endblock %}
{% block content %}
<div class="class container">
    <div class="row justify-content-center">
        <div class="col-md-8 border border-primary rounded border-2 shadow div-bg-color p-3">
            <h2>{{ question.text }}</h2>
            
            <div id="option-form">
                {% for option in options %}
                <div>
                    {% include 'partials/option_detail.html' %}
                </div>
                {% endfor %}       
            </div>
            <div class="d-flex g-2">
                <form action="{% url 'validate_option' question.id %}" method="post" class="me-2">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">
                        Finish
                    </button>
                </form>
                <!-- <a href="{% url 'add_question' question.quiz.id %}" class="btn btn-primary btn-sm">
                    Finish
                </a> -->
                <button hx-get="{% url 'option_form' %}" hx-swap="afterbegin" hx-target="#option-form" class="btn btn-success btn-sm">
                    Add Option
                </button>
            </div>
        </div>
    </div>
</div>   
{% endblock %}