{% block content %}
    <!-- <h2>Question to add options:</h2> -->
    <div id="option-form">
        
    </div>

    <div id="ofm" hx-target="this" hx-swap="outerHTML">
        <form method="post" hx-post="{% url 'add_option' question.id %}">
            {% csrf_token %}
            <div class="class row">
                <div class="class col-4 col-md-3">
                    <label for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
                    {{ form.text }}
                </div>
                <div class="class col-4 col-md-3 align-self-end">
                    <label for="{{ form.is_correct.id_for_label }}">{{ form.is_correct.label}}</label>
                    {{ form.is_correct }}
                </div>
                <div class="class col-3 align-self-end">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <!-- <button hx-get="{% url 'option_form' %}" hx-vals="question_id={{ question.id }}" hx-swap="beforeend" hx-target="#option-form">
        Add Option
    </button> -->
    <!-- <button hx-trigger="click" hx-get="#ofm" hx-swap="beforeend" hx-target="#ofm">
        Add Option
    </button> -->
    
    
{% endblock %}