{% extends 'quiz/header.html' %}

{% block content %}
  <h1>Quizzes</h1>
  {% for quiz in quizzes %}
    <div>
      <h2>{{ quiz.title }}</h2>
      <p>{{ quiz.description }}</p>
      <p>Time Limit: {{ quiz.time_limit }} minutes</p>
      <!-- <p>Class: {{ quiz.for_class }}</p> -->
      <p>Subject: {{ quiz.subject }}</p>
      
      <h3>Questions</h3>
      {% for question in quiz.questions.all %}
        <div>
          <p>Question: {{ question.text }}</p>
          <p>Marks: {{ question.marks }}</p>
          <!-- <ul>
            {% for option in question.options.all %}
              <li>{{ option.text }}{% if option.is_correct %} (Correct){% endif %}</li>
            {% endfor %}
          </ul> -->
        </div>
      {% endfor %}
      <p>
        <a href="{% url 'add_questions' quiz.id %}">Add Question</a>
      </p>
    </div>
  {% endfor %}
{% endblock %}
