{% extends "quiz/header.html" %}
{% block title %}Test Quiz{% endblock %}
{% load static %}

{% load crispy_forms_tags %}
{% load quiz_extras %}
{% block content %}
<div class="d-flex justify-content-center">
    <div id="start-quiz-btn" class="class row">
        <div>
            <div class="card text-center mt-3" style="width: 18rem;">
                <div class="card-header">
                    <h4>{{ quiz.title }}</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-title">{{ quiz.description }}</h6>
                    <p class="card-text">Pass Mark: {{ quiz.pass_mark }}%</p>
                    <button class="btn btn-success btn-sm">Start Quiz</button>
                </div>
                <div class="card-footer text-body-secondary">
                    <h6>Time Limit: {{ quiz.time_limit }} minutes</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <button id="start-quiz-btn" class="btn btn-success btn-sm">Start Quiz</button> -->
<div class="d-flex justify-content-center min-vh-100">
    <div class="col-sm-12 col-md-8 col-lg-6">
        <!-- <div id="timer" class="mb-2" style="display:none;">Time left: </div> -->
        <div id="timer" class="fixed-top bg-light border-bottom shadow-sm p-2 text-center fw-bold" style="display: none; z-index: 900; top: 50px; right: 15px; left: 15px;">
            Time left: <span id="time-remaining">00:00</span>
        </div>
        <div class="mt-5" id="quiz-container" style="display:none;">
            <!-- Quiz form -->
            <form id="quiz-form" method="post" action="{% url 'submit_test_quiz' quiz.id %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field|is_checkbox %}
                            <!-- Render with checkboxes for multiple correct answers -->
                            {{ field|as_crispy_field }}
                        {% else %}
                            <!-- Render with radio buttons for a single correct answer -->
                            {{ field|as_crispy_field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-sm">Submit Quiz</button>
            </form>
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const startQuizBtn = document.getElementById('start-quiz-btn');
    startQuizBtn.addEventListener('click', function() {
        // Hide the start button, show the quiz container and timer
        this.style.display = 'none';

        fetch("{% url 'start_test_quiz' quiz.id %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({})
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Maximum number of attempts reached or another error occurred');
            }
            return response.json();
        })
        .then(data => {
            console.log('Quiz start time recorded:', data);
            document.getElementById('quiz-container').style.display = 'block';
            document.getElementById('timer').style.display = 'block';
            startTimer(); // Call the function to start the timer
        })
        .catch(error => {
            console.error('Error:', error);
            alert(error.message); // Display an alert or handle this more gracefully
            startQuizBtn.style.display = 'block'; // Optionally show the start button again
        });
    });

    function startTimer() {
        let timeLimit = {{ quiz.time_limit }} * 60; // Time limit from Django model
        const timerDisplay = document.getElementById('timer');
        const countdown = setInterval(function() {
            let minutes = parseInt(timeLimit / 60, 10);
            let seconds = parseInt(timeLimit % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            timerDisplay.textContent = `Time left: ${minutes}:${seconds}`;

            if (--timeLimit < 0) {
                clearInterval(countdown);
                document.getElementById('quiz-form').submit(); // Automatically submit when time is up
            }
        }, 1000);
    }
});
</script>
{% endblock content %}