<!-- user_quizzes.html -->
{% extends 'quiz/header.html' %}
{% block content %}
{% for quiz in quizzes %}
    <div>
        <h3>{{ quiz.title }}</h3>
        <p>{{ quiz.description }}</p>
        <p>   
            Time Limit: {{ quiz.time_limit }},
            Created by: {{ quiz.created_by }}
        </p>
        {% if quiz in attempted_quizzes %}
            <p>This quiz has been attempted.</p>
            <button data-quiz-id="{{ quiz.id }}"
                    data-url="{% url 'quiz_attempts' quiz.id %}"
                    onclick="toggleAttempts(this);"
                    class="btn btn-secondary">See Attempts</button>
            <div id="attempts-{{quiz.id}}"></div>
        {% else %}
            <a href="{% url 'get_quiz' quiz.id %}" class="btn btn-primary">Take Quiz</a>
            {% if quiz.id in planned_quizzes_ids %}
                <button class="btn btn-secondary" id="quiz-button-{{ quiz.id }}" hx-post="{% url 'toggle_take_later' quiz.id %}" hx-swap="outerHTML" hx-target="#quiz-button-{{ quiz.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Added</button>
            {% else %}
                <button class="btn btn-secondary" id="quiz-button-{{ quiz.id }}" hx-post="{% url 'toggle_take_later' quiz.id %}" hx-swap="outerHTML" hx-target="#quiz-button-{{ quiz.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Take Later</button>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}

<script>
  function toggleAttempts(button) {
    var quizId = button.getAttribute('data-quiz-id');
    var target = document.getElementById('attempts-' + quizId);
    var url = button.getAttribute('data-url');
    if (target.innerHTML.trim() === '') {
      // Load the attempts via HTMX
      htmx.ajax('GET', url, target);
      button.innerText = 'Hide Attempts';  // Change button text
    } else {
      // Clear the content
      target.innerHTML = '';
      button.innerText = 'See Attempts';  // Reset the button text
    }
  }
</script>
{% endblock %}