<!-- user_quizzes.html -->
{% extends 'quiz/header.html' %}
{% block title %}Quizzes{% endblock %}
{% block content %}
<div class="container">
{% if quizzes %}
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4 mt-0">
        {% for quiz in quizzes %}
        <div class="col">
            <div class="card border-primary h-100">
                <div class="class card-header d-flex justify-content-between align-items-center" style="background-color: #2c91f7;">
                    <h4 class="text-white">{{ quiz.title }}</h4>
                    <h4 class="text-white">{{ quiz.subject }}</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p class="card-text mb-0">{{ quiz.description }}</p>
                        <p class="mb-0">{{ quiz.time_limit }} mins</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-0">Created by: Tr. {{ quiz.created_by }}</p>
                        <p>Pass Mark: {{ quiz.pass_mark }}%</p>
                    </div>
                    {% if quiz in attempted_quizzes %}
                        <h6 class="fw-bold">You have attempted this Quiz</h6>
                        <button data-quiz-id="{{ quiz.id }}"
                            data-url="{% url 'quiz_attempts' quiz.id %}"
                            onclick="toggleAttempts(this);"
                            class="btn btn-secondary btn-sm">See Attempts</button>
                        <div id="attempts-{{ quiz.id }}"></div>
                    {% else %}
                        <a href="{% url 'get_quiz' quiz.id %}" class="btn btn-primary">Take Quiz</a>
                        {% if quiz.id in planned_quizzes_ids %}
                            <button class="btn btn-secondary" id="quiz-button-{{ quiz.id }}" hx-post="{% url 'toggle_take_later' quiz.id %}" hx-swap="outerHTML" hx-target="#quiz-button-{{ quiz.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Added</button>
                        {% else %}
                            <button class="btn btn-secondary" id="quiz-button-{{ quiz.id }}" hx-post="{% url 'toggle_take_later' quiz.id %}" hx-swap="outerHTML" hx-target="#quiz-button-{{ quiz.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Take Later</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
<div class="mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
            {% if student_subjects.exists %}
                <h4 class="text-center">You have attempted all available quizzes. Keep checking for new quizzes</h4>
            {% else %}
                <h4 class="text-danger">It looks like you haven't selected any subjects yet. Please update your profile to select the subjects you're taking.</h4>
                <a href="{% url 'profile' user.username %}" class="btn btn-primary">Select Subjects</a>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
</div>


<script>
  function toggleAttempts(button) {
    var quizId = button.getAttribute('data-quiz-id');
    var target = document.getElementById('attempts-' + quizId);
    var url = button.getAttribute('data-url');
    if (target.innerHTML.trim() === '') {
      // Load the attempts via HTMX
      htmx.ajax('GET', url, target);
      button.innerText = 'Hide Attempts';  // Change button text
    } else {
      // Clear the content
      target.innerHTML = '';
      button.innerText = 'See Attempts';  // Reset the button text
    }
  }
</script>
{% endblock %}