{% extends 'quiz/header.html' %}

{% block content %}
<h2>Available Quizzes</h2>

{% if quizzes %}
<ul>
    {% for quiz in quizzes %}
    <li id="quiz-li-{{ quiz.id }}">
        <h3>{{ quiz.title }}</h3>
        <p>{{ quiz.description }}</p>
        {% if quiz in attempts %}
            <h5>Quiz Already Taken</h5>
        {% else %}
            <a href="{% url 'get_quiz' quiz.id %}" class="btn btn-primary">Take Quiz</a>
            {% if quiz.id in planned_quizzes_ids %}
                <button class="btn btn-secondary" id="quiz-button-{{ quiz.id }}" hx-post="{% url 'toggle_take_later' quiz.id %}" hx-swap="outerHTML" hx-target="#quiz-button-{{ quiz.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Added</button>
            {% else %}
                <button class="btn btn-secondary" id="quiz-button-{{ quiz.id }}" hx-post="{% url 'toggle_take_later' quiz.id %}" hx-swap="outerHTML" hx-target="#quiz-button-{{ quiz.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Take Later</button>
            {% endif %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No quizzes are available for your subjects.</p>
<p>It looks like you haven't selected any subjects yet. Please update your profile to select the subjects you're taking.</p>
    <a href="{% url 'profile' user.username %}" class="btn btn-primary">Select Subjects</a>
{% endif %}

{% endblock %}