<div hx-target="this" hx-swap="outerHTML">
    <form method="POST">
        {% csrf_token %}
        <div class="class row">
            <div class="class col-4 col-md-3">
                <label for="{{ form.text.id_for_label }}">{{ form.text.label}}</label>
                {{ form.text}}
            </div>
            <div class="class col-4 col-md-3 align-self-end">
                <label for="{{ form.is_correct.id_for_label }}">{{ form.is_correct.label}}</label>
                {{ form.is_correct}}
            </div>
            <div class="class col-3 align-self-end">
                <button hx-post="." class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>