<div hx-target="this" hx-swap="outerHTML" id="qop">
    <ul>
        <li>
            <p>{{ option.text }} {% if option.is_correct %} <i class="bi bi-check-circle" style="color: blue;" data-bs-toggle="tooltip" data-bs-placement="top" title="Correct Answer"></i>{% endif %}
            {% if request.user == option.question.quiz.created_by %}
                <i hx-post="{% url 'delete_option' option.id %}" class="bi bi-trash" style="color: red;" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Option"></i>
                <i hx-post="{% url 'update_option' option.id %}" class="bi bi-pencil-square" style="color: green;" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Option"></i>
                <!-- <button hx-post="{% url 'delete_option' option.id %}" class="btn btn-danger">Delete</button> -->
                <!-- <button hx-post="{% url 'update_option' option.id %}" class="btn btn-success">Update</button> -->
            {% endif %}
            </p>
        </li>
    </ul>
</div>
<!-- == option.question.quiz.created_by -->