<div hx-target="this" hx-swap="outerHTML">
    <h6>
        {{ question.text }} ({{ question.marks }}marks)
        {% if request.user == question.quiz.created_by  %}
            <i hx-post="{% url 'delete_question' question.id %}" class="bi bi-trash" style="color: red;" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Question"></i>
            <i hx-post="{% url 'update_question' question.id %}" class="bi bi-pencil-square" style="color: green;" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Question"></i>
            <a href="{% url 'add_option' question.id %}"><i class="bi bi-plus-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Option"></i></a>
        {% endif %}
    </h6>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
</script>