<div hx-target="this" hx-swap="outerHTML">
    <form method="POST">
        {% csrf_token %}
        <div class="class row">
            <div class="class col-4 col-md-3">
                <label for="{{ form.text.id_for_label }}">{{ form.text.label}}</label>
                {{ form.text}}
            </div>
            <div class="class col-4 col-md-3 align-self-end">
                <label for="{{ form.marks.id_for_label }}">{{ form.marks.label}}</label>
                {{ form.marks}}
            </div>
            {% if question %}
            <div class="class col-3 align-self-end">
                <button type="submit" hx-post="{% url 'update_question' question.id %}" class="btn btn-primary">
                    Submit
                </button>
            </div>
            {% else %}
            <div class="class col-3 align-self-end">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            {% endif %}
        </div>
    </form>
</div>
<!-- hx-post="." -->