<div hx-target="this" hx-swap="outerHTML">
    <div class="class row" hx-target="this" hx-swap="outerHTML">
        <div class="col">
            <div class="card border-primary h-100">
                <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #2c91f7;">
                    <h4 class="text-white mb-0">{{ quiz.title }}</h4>
                    <div class="d-flex justify-content-between">
                    <h4 class="text-white">{{ quiz.subject }}</h4>
                    {% if request.user == quiz.created_by %}
                    <div id="quiz-{{ quiz.id }}">
                        <!-- Use htmx attributes for the toggle functionality -->
                        <button hx-post="{% url 'toggle_published' quiz.id %}"
                                hx-target="#quiz-{{ quiz.id }}"
                                hx-swap="outerHTML"
                                class="toggle-published btn-pub">
                            {% if quiz.published %}
                            Unpublish
                            {% else %}
                            Publish
                            {% endif %}
                        </button>
                    </div>
                    {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p class="card-text mb-0">{{ quiz.description }}</p>
                        <p class="mb-0">{{ quiz.time_limit }} mins</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-0">Created by: Tr. {{ quiz.created_by }}</p>
                        <p>Pass Mark: {{ quiz.pass_mark }}%</p>
                    </div>
                    
                    <div class="row">
                        <div class="col-auto align-self-end">
                            <a href="{% url 'add_question' quiz.id %}" class="btn btn-success">Questions</a>
                        </div>
                        <!-- == quiz.created_by -->
                        {% if request.user == quiz.created_by %}
                            <div class="col-auto align-self-end">
                                <button hx-post="{% url 'delete_quiz' quiz.id %}" class="btn btn-danger">Delete</button>
                            </div>
                            <div class="col-auto align-self-end">
                                <button hx-post="{% url 'update_quiz' quiz.id %}" class="btn btn-primary">Update</button>
                            </div>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>   
</div>