<div hx-target="this" hx-swap="outerHTML">
    <div class="class row" hx-target="this" hx-swap="outerHTML">
        <div class="class col-4 col-md-3">
            <h3>{{ quiz.title }}</h3>
        </div>
        <div class="class col-4 col-md-3">
            <h3>{{ quiz.time_limit }}</h3>
        </div>
        <div class="class col-1 align-self-end">
            <a href="{% url 'add_question' quiz.id %}" class="btn btn-success">Questions</a>
        </div>
        <div class="class col-1 align-self-end">
            <button hx-post="{% url 'delete_quiz' quiz.id %}" class="btn btn-danger">Delete</button>
        </div>
        <div class="class col-1 align-self-end">
            <button hx-post="{% url 'update_quiz' quiz.id %}" class="btn btn-primary">Update</button>
        </div>
        <div class="class col-1 align-self-end">
            <button hx-post="{% url 'get_quiz' quiz.id %}" class="btn btn-primary">Take</button>
        </div>
        <div class="class col-1 align-self-end">
            <a href="{% url 'get_quiz' quiz.id %}" class="btn btn-primary">Take Quiz</a>
        </div>
    </div>   
</div>