<!-- quizzes/partials/quiz_attempts.html -->

<div id="attempts-{{ attempts.first.quiz.id }}">
    <ul>
        {% for attempt in attempts %}
            <li>Attempted on: {{ attempt.date_attempted }} - Score: {{ attempt.score }}
                {% if attempt.passed %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quizAttemptModal-{{ attempt.id }}">
                        View Attempt
                    </button>
                {% endif %}
                
                {% include 'quiz/quiz_attempt_detail5.html' with attempt=attempt %}

            </li>
        {% endfor %}

    </ul>
    <p>Attempts: {{ total_attempts }} out of {{ attempts.first.quiz.max_attempts }}</p>
    {% if total_attempts != attempts.first.quiz.max_attempts %}
        <a href="{% url 'get_quiz' attempts.first.quiz.id %}" class="btn btn-primary">Take Quiz Again</a>
    {% endif %}
</div>
